name: Deploy to Production

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            # 프로젝트 경로로 이동 (GitHub Secrets에 정의 필요)
            cd ${{ secrets.PROJECT_PATH }}
            
            # 최신 코드 받기
            git fetch origin prod
            git reset --hard origin/prod
            
            # Docker Container 재시작 (Build 포함)
            docker-compose down
            docker-compose up -d --build
            
            # 불필요한 이미지 정리
            docker image prune -f
